* {
    margin: 0;
    padding: 0;
}

body {
    width: 924px;
    margin: 25px auto;
}

.text-card-container {
    text-align: -webkit-center;
}

.card {
    box-shadow: 0 4px 12px 13px rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 60%;
}

h2 {
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
}

div {
    display: block;
}

.text-card-container {
    text-align: -webkit-center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 50px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.5s;
}

.content p {
    text-align: justify;
}

.content b {
    float: right;
    text-transform: uppercase;
    font-style: italic;
}